.contact-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #1d2671, #c33764);
}

.contact-card {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.contact-card h2 {
  text-align: center;
  margin-bottom: 15px;
}

.contact-card input,
.contact-card textarea {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-card textarea {
  resize: none;
  height: 80px;
}

.contact-card button {
  padding: 10px;
  background: #1d2671;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.contact-text {
  max-width: 500px;
  text-align: center;
  color: white;
  font-weight: normal;
}
